/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

/* .navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
} */

 #nav-list {
  margin-top: 10px;
}
#nav-list a {
  text-align: center;
  color: white;
  background-color: #277d5f;

}
#nav-list a:hover {
  background: #E7E7E7;
  color: black;
} 
#nav-list a span {
  font-size: 1.8em;
} 



div {
	position: relative;
}

p {
	box-sizing: border-box;
	background-color: lightgray;
		
	padding: 10px;
	border: 1px solid black;
	margin: 8px;
}

#p1 {
	background-color: maroon;
	position: absolute;
	right: 0;
}

#p2 {
	background-color: darkgreen;
	position: absolute;
	right: 0;
}

#p3 {
	background-color: yellow;
	position: absolute;
	right: 0;
}

#pText {
	padding-top: 50px;
}

/***************** Desktop View ***********************/
@media (min-width: 992px) {
	.	 {
		float: left;
		width: 100%;
	}
}

/****************** Tablet View **********************/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
	}

	.col-md-6 {
		width: 50%
	}

	.col-md-12 {
		width: 100%
	}
}

/***************** Mobile View ***********************/
@media (max-width:767px) {
	.col-sm-12 {
		float: left;
		width: 100%
	}
}